.button {
    letter-spacing: 2px;
    text-transform: uppercase;
    @include transitionAll;
    @include fontSize(16);

    &:hover {
        @include cursorPointer;
        font-weight: bold;
    }
    &:active {
        font-weight: bold;
    }
    
    @include mediaTablet {
        @include fontSize(12);
    }
    &--home {
        padding: 2px 30px;
        color: $colorPrimary;
    }
    &--start {
        color: $colorWhite;
        padding: 5px 40px;
        background-color: $colorPrimary;
    }
    &--subscribe {
        padding: 15px 25px;
    }
    
    
}