.button {
    &--home {
        padding: 2px 30px;
        color: $colorPrimary;
    }
    &--start {
        color: $colorWhite;
        padding: 5px 40px;
        background-color: $colorPrimary;
    }
    &--subscribe {
        padding: 15px 25px;
    }
    &:hover {
        @extend %cursorPointer;
        font-weight: bold;
    }
    &:active {
        font-weight: bold;
    }
    letter-spacing: 2px;
    text-transform: uppercase;
    @extend %transitionAll;
    @include fontSize(16);
    @include mediaTablet {
        @include fontSize(12);
    }
}