.input {
    padding: 15px 40px;
    @include fontSize(16);
    @include textUpCenter(uppercase, center);
    color: $colorWhite;
    width: 350px;
    background-color: transparent;
    border: 1px solid #2F303E;
    @include mediaTablet {
        @include fontSize(12);
    }
}