.price {
    &-discount {
        color: $colorDiscountPrice;
        @include fontSize(20);
        @include mediaTablet {
            @include fontSize(18);
        }
    }
    &-full {
        color: $colorFullPrice;
        text-decoration: line-through;
        text-decoration-color: $colorFullPrice;
    }
    &-sold {
        text-decoration: line-through;
        text-decoration-color: $colorFullPrice;
    }
    margin-top: 5px;
    color: $colorText;
}