.footer {
    .container {
        display: flex;
        justify-content: space-between;
    }
    &-info {
        &__logo {
            &-img {
                max-width: 110px;
                max-height: 24px;
            }
            margin-bottom: 20px;
        }
        max-width: 300px;
        &__text {
            color: $colorText;
            @include fontSize(16);
            @include LineHeight(22);
            margin-bottom: 80px;
            @include mediaTablet {
                @include fontSize(14);
            }
        }
        &__copy {
            color: $colorCopy;
            @include fontSize(16);
            @include mediaTablet {
                @include fontSize(14);
            }
        }
    }
    &-menu {
        &__list {
            &-item {
                margin-bottom: 10px;
            }
            &-link {
                &:hover {
                    color: #000;
                    font-weight: bold;
                }
                &:active {
                    color: #000;
                    font-weight: bold;
                }
            }
            @include fontSize(16);
            color: $colorText;
            @include mediaTablet {
                @include fontSize(13);
            }
        }
    }
    &-socials {
        &__list {
            &-item {
                margin-bottom: 10px;
            }
            &-link {
                &:hover {
                    color: #000;
                    font-weight: bold;
                }
                &:active {
                    color: #000;
                    font-weight: bold;
                }
            }
            @include fontSize(16);
            color: $colorText;
            @include mediaTablet {
                @include fontSize(14);
            }
        }
    }
    &-contact {
        &__subtitle {
            margin-bottom: 15px;
            @include fontSize(16);
            color: $colorText;
            @include mediaTablet {
                @include fontSize(14);
            }
        }
        &__email {
            display: block;
            margin-bottom: 75px;
            @include fontSize(23);
            color: $colorPrimary;
            
        }
        &__powered {
            @include fontSize(16);
            color: $colorCopy;
            @include mediaTablet {
                @include fontSize(14);
            }
        }
    }
    &__title {
        @include fontSize(16);
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include mediaTablet {
            @include fontSize(12);
        }
    }
    padding: 100px 0 50px;
}