.header {
    .container {
        @include flexXY(space-between,center);
        padding: 25px 15px;
    }
    &__logo {
        &-img {
            max-width: 112px;
            max-height: 24px;
        }
    }
    background-color:#fff;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}

.menu {
    &__counter {
        &-number {
            padding:3px 6px;
        }
        background-color: #000000;
        border-radius: 50%;
        padding: 2px;
        text-align: center;
        color: $colorWhite;
    }
    &__list {
        @include flexCenter;

        &-item {
            margin-right: 30px;
            padding-bottom: 4px;
            position: relative;
            text-transform: uppercase;
            @include transitionAll;
            @include fontSize(14);
            
            @include mediaTablet {
                @include fontSize(12);
            }
            

            &:last-child {
                margin: 0;
                @include flexY(center);
                gap: 10px;
            }
            &::before {
                content: '';
                height: 2px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 0;
                background-color: #000;
                @include transitionAll;
                
            }
            &:hover::before {
                opacity: 1;
            }
            &:hover {
                color: #000;
                font-weight: bold;
            }
            &:active {
                color: #000;
                font-weight: bold;
            }
            
        }
        
    }
}