.home {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // padding: 250px 75px;
        height: 100%;
        
    }
    &__text {
        @include fontSize(14);
        text-transform: uppercase;
        margin-bottom: 15px;
        @include mediaTablet {
            @include fontSize(12);
        }
    }
    &__title {
        @include fontSize(48);
        margin-bottom: 15px;
    }
    &__subtitle {
        margin-bottom: 50px;
        @include mediaTablet {
            @include fontSize(17);
        }
    }
    height: 100vh;
    background-color: $colorHome;
    color: $colorWhite;
    background: url(../images/bg/bgHome.jpg) center no-repeat;
    background-size: cover;
}