.shop {
    padding: 120px 0;

    &__description {
        &-wrapper {
            padding: 0 140px;
            text-align: center;
        }
        &-title {
            padding: 0 40px;
            margin-bottom: 16px;
            @include fontSize(28);
        }
        &-text {
            @include LineHeight(28);
            color: $colorText;
            margin-bottom: 20px;
        }
        &-link {
            @include fontSize(16);
            color: $colorDiscountPrice;
            position: relative;
            padding: 5px;
            &:hover {
                @include cursorPointer;
            }
            
            @include mediaTablet {
                @include fontSize(14);
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                opacity: 0;
                background-color: rgba(162, 95, 75, 0.2);
                @include transitionAll;
            }
            &:hover::before {
                opacity: 1;
            }
            
        }
    }
    &__features {
        &-img {
            max-width: 460px;
            max-height: 540px;
        }
    }
    &__product {
        &-img {
            width: 300px;
            height: 380px;
        }
        &-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 50px 20px;
            text-align: center;
        }
        &-name {
            @include fontSize(20);
            margin-top: 35px;
        }
    }
    &-offer {
        @include flexX(space-between);
        gap: 30px;

        &__images {
            display: flex;
            gap: 20px;
        }
        &__image {
            &-wrapper {
                @include flexDir(column);
                gap: 20px;
            }
            &--small {
                max-width: 160px;
                max-height: 130px;
            }
            max-width: 280px;
            max-height: 280px;
        }
        &__desc {
            &-title-short {
                @include fontSize(12);
                text-transform: uppercase;
                margin-bottom: 15px;
            }
            &-title {
                @include fontSize(36);
                @include LineHeight(50);
                margin-bottom: 15px;
            }
            &-text {
                @include LineHeight(28);
                margin-bottom: 30px;
            }
        }
        
    }

    
}