// fonts
$fontKarla: 'Karla', sans-serif;
$fontRegular: 400;

// Color
$colorPrimary: #1D1F2E;

$colorText: rgba(29, 31, 46, 0.7);
$colorDiscountPrice: #A25F4B;
$colorFullPrice: rgba(29, 31, 46, 0.4);
$colorCopy: rgba(29, 31, 46, 0.3);
$colorHome: #050827;
$colorWhite: #fff;
